<div id="page" ng-show="contactModel.isAnySelected()">
    <div id="toolbar" class="pull-right">
        <div class="btn-group" dropdown>
            <button type="button" class="btn" ng-click="vm.toggleEdit()">
                {{ vm.getEditButtonText() }}
            </button>
            <button type="button" class="btn dropdown-toggle">
                <span class="caret"></span>
                <span class="sr-only">More Actions...</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" ng-show="vm.editMode" ng-click="vm.cancel()">Cancel</a></li>
                <li><a href="#" ng-click="vm.del()">Delete</a></li>
            </ul>
        </div>

    </div>
    <form name="edit-details" novalidate ng-submit="edit-contact.$valid && save()">
        <h1 ng-hide="vm.editMode">{{ contactModel.selected.getFirstName() }} <span class="bold">{{ contactModel.selected.getLastName() }}</span>
            <span class="subtitle" ng-show="contactModel.selected.subtitle"></span>
        </h1>

        <div ng-show="vm.editMode">
            <input id="form-name" placeholder="Name" ng-model="contactModel.selected.name"/>
        </div>
        <div id="tabs" ng-controller="TabsController">
            <tabset>
                <tab heading="{{getFirstTabLabel(contactModel.selected.getFirstName())}}"></tab>
                <tab heading="Address">
                    <div class="address" ng-repeat="address in contactModel.selected.address">
                        <label>{{ address.type }}</label>
                        <br>
                        <span ng-repeat="line in address.location">{{line}}<br></span>
                        <iframe width="100%" height="300" frameborder="0" style="border:0"
                                ng-src="{{getMapUrl(address.joined)}}"></iframe>
                    </div>
                </tab>
                <tab heading="Notes">
                    Notes about this guy
                </tab>
            </tabset>
        </div>
    </form>
</div>