body {
    background-color: #F2F2F2 !important;
    background-image: url(../img/beach.png) !important;
    background-size: auto;
    background-repeat: no-repeat;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 400;
}

h1 {
    margin: 0 0 10px 0;
}

h1 span.bold {
    font-weight: 700 !important;
}

h1 span.subtitle {
    font-family: Cardo, serif;
    font-size: 22px;
    font-style: italic;
}

button.btn {
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 !important;
}

button.btn:hover {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
    background-color: rgba(255,255,255, 0.8);
}

.dropdown-menu {
    background-color: rgba(255,255,255,0.6);
    border: none;
}
.dropdown-menu>li>a:hover {
    background-color: rgba(255,255,255,0.4);
}

.nav-tabs {
    border: none !important;
}

.nav-tabs > li {
    margin-bottom: 0;
}

.nav-tabs > li > a {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
}

.nav-tabs > li > a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.nav-tabs > li.active > a {
    background-color: rgba(255, 255, 255, 0.8) !important;
    border: none;
}

.nav-tabs > li.active > a:hover {
    border: none !important;
}

.nav, .pagination, .carousel, .panel-title a, .alert {
    cursor: pointer;
}

#sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 400px;
}

#content {
    position: absolute;
    left: 400px;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    background: rgba(255, 255, 255, 0.1);
}

#menubar {
    position: relative;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

#menubar:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#avatar {
    height: 30px;
    margin: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#userName {
    padding: 3px;
}

#search {
    width: 390px;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    position: relative;
    height: 30px;
    padding: 5px;
    margin: 10px 5px 10px 5px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    outline: none;
    cursor: pointer;
}

#search:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

#search:focus {
    background-color: rgba(255, 255, 255, 0.8);
}

#searchBox {
    background-color: rgba(255, 255, 255, 0.35);
}

#list {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.35);
    position: absolute;
    top: 90px;
    bottom: 40px;
    left: 0;
    width: 100%;
}

#list .selectable {
    cursor: pointer;
}

#list .entry {
    padding: 5px;
}

#list .entry span {
    font-weight: 700 !important;
}

#list .selectable:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#list .selectable.selected {
    background-color: #8A0808;
    color: #FFF;
}

#add {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 30px;
    width: 400px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

#add:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#messages {
    margin-bottom: 10px;
}

#messages .alert {
    padding: 5px;
    margin-bottom: 5px;
}

#messages .alert button.close {
    right: 0;
}

#page {
    position: relative;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
}

#page input {
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    background-color: #FFF;
    margin-bottom: 5px;
    border: 1px solid #DDD;
}

#page input#form-firstName, #page input#form-lastName {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    width: 20%;
}

#page input#form-lastName {
    font-weight: 700;
}

#page input#form-subtitle {
    font-family: Cardo, serif;
    font-size: 22px;
    font-style: italic;
    width: 30%;
}

#page .dropdown-menu {
    right: 0;
    left: auto !important;
}

#tabs {

}

#tabs .tab-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border: 1px solid #DDD;
    border-top: none;
}

#signInWindow {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #DDD;
    width: 20%;
    min-width: 350px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

#signInWindow h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

#footer {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFF;
    text-align: center;
}

#footer a {
    color: #FFF;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0);
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#footer a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, .3);
}